


.information {
display: flex;
flex-wrap: wrap;
margin: 10% 0%;





}

.information>*{
justify-content: left;
width: 30%;
height: auto;
margin: 0% 10%;
}


 

.information #missao p , #visao p  , #valores p{
padding: 5% 3%;
font-size: 25px;
font-family: Pompiere;
text-align: center;

}


.information  .fa{
 
    border-radius: 50%;
   
    padding: 7% 7%;
max-width: 100%;
height: auto;
      list-style: none;
    font-size:40px;
    color:rgba(233, 66, 36, 0.89);
    width: 2%; 
    height: 2%;
   margin: 2% 40%;   
   text-align: center;
   display: flex;
   flex-direction: row;
   align-items: center;
  
    
}


.information #missao h3 , hr , #visao h3 , hr ,  #valores h3 , hr {
margin: 4% 12%;
text-align: center;

}


.information #missao , #visao , #valores{

             background: rgba(180, 183, 240, 0.404);
border-style: double;
border-width: 1px;
border-radius: 3px;


}



.instalacoes h2{
    text-align: center;
}



.information #valores{
  margin: 10% 35%;
}





/* Codigo da parte de fotos*/


.instalacoes{
 display: flex;
    flex-wrap: wrap;
    flex:6 25% !important;

}


.polaroid-1 , .polaroid-2 , .polaroid-3 {
  width: 30%;
  height: auto;
color: black;
 
    margin: 2% 20px; 
     -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 2.55s ease;
  transition: all 2.55s ease;
}


div.text{
  font-family: Pompiere;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
      
}

.instalacoes img {
  width: 380px;
  height: 330px;
   -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    outline: 1px solid rgb(71, 235, 93);
    outline-offset: -15px;
  
}





/*  PADRINHOS  */

.padrinhos {
 display: flex;
    flex-wrap: wrap;
margin: 2% 10%;
justify-content: center;
align-items: center;

}


.padrinhos .fa{
 

      color: #1b1b1b;
    font-size: 25px;
    background: #9ee7ec;
    border-radius: 50%;
    padding: 10px 12px;
    height: auto;
    margin: 1% 6%;
}

.padrinhos p{
  font-size: 22px;
  font-family: pompiere;
  color: black;
}

